@import '../../../styles/shared.scss';

.link {
  margin-bottom: 10px;
  background-color: transparent;
  cursor: pointer;
  @media screen and (min-width: $breakpoint-tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-right: 47px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    margin-right: 158px;
  }
}

.text {
  display: none;
  @media screen and (min-width: $breakpoint-tablet) {
    display: inline-block;
    font-size: 12px;
    line-height: 1.67;
    color: $text-color-secondary;
  }
}

.icon {
  width: 24px;
  height: 24px;
  color: $btn-orange-bg-color;
  @media screen and (min-width: $breakpoint-tablet) {
    margin-right: 15px;
  }
}
