.current-data_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-data_wrap-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 767.98px) {
    margin-bottom: 30px;
  }
}

.current-data_label {
  display: block;
  margin-bottom: 5px;
  color: #52555f;
  font-size: 12px;
  line-height: 1.167;
}

.current-data_title {
  margin: 0 15px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $text-inactive-tab;
}

.current-data_btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.current-data_icon {
  width: 24px;
  height: 24px;
  color: $btn-orange-bg-color;
}
