.report_menu_wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 40px;
  height: 85px;
  font-weight: 700;
  line-height: 1.143;
  background-color: #ffffff;
  box-shadow: 5px 10px 20px 0px $btn-grey-box-shadow-color;
  border-radius: 20px;

  @media screen and (min-width: $breakpoint-tablet) {
    height: 50px;
    border-radius: 30px;
    margin-bottom: 30px;
  }
}

.report_menu_title {
  margin: 0;
  @media screen and (min-width: $breakpoint-tablet) {
    margin-right: 15px;
  }
}

.report_menu_outcome,
.report_menu_income {
  width: calc(50% - 0.5px);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 25px;
  align-items: center;
  text-align: center;

  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.report_menu_outcome {
  position: relative;
  padding-left: 14px;
  padding-right: 15px;

  @media screen and (min-width: $breakpoint-tablet) {
    justify-content: flex-end;
    padding-right: 21px;
  }
}

.report_menu_outcome::after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 70.5px;
  background-color: #e0e5eb;
  top: 7px;
  right: 0;

  @media screen and (min-width: $breakpoint-tablet) {
    height: 36px;
  }
}

.report_menu_income {
  padding-left: 10px;
  padding-right: 11px;

  @media screen and (min-width: $breakpoint-tablet) {
    padding-left: 19px;
  }
}

.report_menu_value_outcome {
  margin-top: 2px;
  letter-spacing: 0.04em;
  color: $expenses-text-color;
}

.report_menu_value_income {
  margin-top: 2px;
  letter-spacing: 0.04em;
  color: $profits-text-color;
}
