@import './src/styles/colors';
@import './src/styles/variables';
@import './src/styles/breakpoints';

button {
  cursor: pointer;
  appearance: none;
}

.budget_section {
  width: 100%;
  height: 100%;
  border-radius: 30px;

  .btn_section {
    display: flex;
    align-items: flex-end;
    height: 40px;
    margin: 0 auto;

    button {
      font-family: $primary-font-style;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      border: none;
    }

    .btn_active {
      //background-color: $bg-white-color;
      background-color: #fefefe;
      border-radius: 30px 30px 0 0;
      color: #ff751d;
      height: 100%;
      width: 138px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .btn_disabled {
      background-color: #fafbfd;
      border-radius: 30px 30px 0 0;
      color: black;
      height: 100%;
      width: 138px;
    }
  }

  .main_content {
    background-color: $bg-white-color;
    border-radius: 0 30px 30px 30px;
    margin: 0 auto;
    position: relative;
    padding: 33px 20px 61px 20px;

    .main_info {
      display: flex;
      justify-content: space-between;
      height: 44px;
      align-items: center;
      margin-bottom: 60px;

      .date {
        display: flex;
        flex-direction: row;
        align-items: center;

        svg {
          margin-right: 10px;

          * {
            fill: #52555f;
          }
        }

        span {
          color: #52555f;
          font-family: $primary-font-style;
          font-style: normal;
          font-weight: 900;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.04em;
        }
      }

      .add_category {
        height: 100%;
        display: flex;
        flex-direction: row;

        input {
          border: 1px solid #f5f6fb;
          width: 290px;
          height: 100%;
          background-color: transparent;
          padding: 2px 2px 2px 25px;
          border-radius: 30px 0 0 0;
          border-right: 0;
          outline: none;
          color: #52555f;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;

          &:last-child {
            border-radius: 0 30px 30px 0;
            border: 1px solid #f5f6fb;
            border-left: 0;
          }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input::placeholder {
          color: #c7ccdc;
          font-family: $primary-font-style;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
        }

        .select_container {
          .dropdown_button {
            border-top: 1px solid #f5f6fb;
            border-bottom: 1px solid #f5f6fb;
            border-left: 1px solid #f5f6fb;
            width: 184px;
            height: 100%;
            background-color: transparent;
            position: relative;
            display: flex;
            justify-content: space-around;
            cursor: default;
            color: #52555f;
            font-weight: 400;
            align-items: center;

            p {
              display: flex;
              align-items: center;
              justify-content: center;
              color: #c7ccdc;
              font-size: 12px;
              margin: 0;
            }

            svg {
              min-width: 20px;
            }

            .dropdown_button_list {
              padding: 5px 0;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              row-gap: 10px;
              position: absolute;
              top: 100%;
              z-index: 2;
              background: #fff;
              border: 2px solid #f5f6fb;
              box-sizing: border-box;
              box-shadow: 0px 3px 4px rgba(170, 178, 197, 0.4);

              div {
                font-size: 12px;
                font-weight: 400;
                color: #c7ccdc;
                height: 44px;
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;

                &:hover {
                  background: #f5f6fb;
                  color: #52555f;
                }
              }
            }
          }
        }

        .custom_arrow {
          position: absolute;
          top: 14px;
          right: 15px;
        }

        .calc_input {
          position: relative;

          input {
            border: 1px solid #f5f6fb;
            height: 100%;
            background-color: transparent;
            width: 124px;
            padding: 2px 2px 2px 30px;
            border-radius: 0 30px 30px 0;
            outline: none;
          }

          svg {
            position: absolute;
            right: 20px;
            top: 12px;
          }
        }

      }

      .info_btn {
        button {
          &:first-child {
            background: #ff751d;
            border: none;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            color: white;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            border-radius: 16px;
            width: 125px;
            height: 44px;
            margin-right: 15px;
          }

          &:last-child {
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: #52555f;
            text-transform: uppercase;
            background: #ffffff;
            border: 2px solid #f5f6fb;
            border-radius: 16px;
            width: 125px;
            height: 44px;
            font-style: normal;
          }
        }
      }
    }

    .info_table {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .titles_and_results {
        display: flex;
        flex-direction: column;

        width: 60%;
        border-radius: 30px 30px 0 0;
        overflow: hidden;


        .content_without_added_category {
          display: flex;
          flex-direction: row;
          width: 95%;
          margin: 15px auto 0;
          justify-content: center;

          span {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #52555f;
          }

        }

        table {
          border-collapse: collapse;
          border-style: none;
          border-radius: 30px 30px 0 0;


          thead {
            tr {
              background-color: #f5f6fb;
              height: 40px;

              th {
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: black;
                padding: 0;
              }
            }
          }

          tbody {
            background-color: #ffffff;

            .added_content {
              td {
                border-collapse: collapse;
                border-bottom: 2px solid #f5f6fb;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.04em;
                color: #52555f;
                text-align: center;

                span {
                  border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  display: flex;
                  align-items: center;
                  margin: 0 auto;
                  background-color: #f5f6fb;
                  justify-content: center;
                }
              }
            }
          }
        }
      }

      .summary_table {
        display: flex;
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 1279px) {
  .budget_section {
    .main_content {

      .info_table {
        flex-direction: column;

        .titles_and_results {
          width: 100%;
        }
      }

      .main_info {
        flex-wrap: wrap;
        height: auto;

        .info_btn {
          margin-top: 30px;
          display: flex;
          width: 100%;
          justify-content: center;
        }

        .add_category {
          height: 44px;

          input {
            width: 192px;
          }

          .calc_input {
            input {
              width: 104px;
            }
          }

          .dropdown_button {
            width: 170px;
          }
        }
      }
    }


  }


}

@media (min-width: 320px) and (max-width: 767px) {
  .budget_section {
    overflow: hidden;

    .btn_section {
      position: fixed;
      bottom: 0;
      left: 0;
      justify-content: space-between;
      width: 100%;
      height: auto;
      overflow: hidden;

      .btn_active, .btn_disabled {
        width: 49%;
        height: 53px;
        border-radius: 0 0 0 0;
        background-color: #fafbfd;
        filter: none;
        color: black;
      }
    }

    .main_content {
      background-color: transparent;
      padding: 0;
      overflow: hidden;

      .main_info {
        justify-content: center;
        margin: 0;
        flex-direction: column;
        height: auto;

        .info_btn {
          position: fixed;
          bottom: 120px;

          button {
            &:first-child {
              filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
            }

            &:last-child {
              box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
            }
          }
        }

        .add_category {
          height: auto;
          flex-direction: column;
          width: 100%;
          align-items: center;

          input {
            height: 44px;
            border: 1px solid white;
            width: 100%;
            border-radius: 16px 16px 0 0;

          }

          .calc_input {
            height: 44px;

            input {
              border-radius: 22px;
              width: 183px;
              padding: 2px 60px 2px 52px;
              height: 100%;
              color: black;
            }

            input::placeholder {
              border-right: 1px solid white;
              color: black;
              font-weight: bold;
              display: flex;
              align-items: center;
              text-align: right;
              padding-right: 15px;
            }
          }

          .select_container {
            width: 100%;

            .dropdown_button {
              height: 44px;
              border-bottom: 1px solid white;
              border-left: 1px solid white;
              border-right: 1px solid white;
              width: 100%;
              margin-bottom: 30px;
              border-radius: 0 0 16px 0;
              justify-content: space-between;
              padding: 2px 22px 2px 25px;
            }
          }
        }

        .go_back_btn {
          background-color: transparent;
          border: none;
          margin-bottom: 15px;
          display: flex;
          width: 100%;
          justify-content: flex-start;
        }
      }

      .info_table {
        .titles_and_results {
          position: fixed;
          bottom: 55px;
          left: 0;
          height: 175px;
          width: 100%;
          overflow: scroll;
          border-radius: 0;

          .info_table_mobile {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 0 auto;

            .info_items {
              display: flex;
              width: 100%;
              height: 42px;
              align-items: center;
              justify-content: space-between;


              div {
                &:first-child {
                  display: flex;
                  flex-direction: column;

                  div {
                    margin-top: 5px;
                    span {
                      &:first-child {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0.04em;
                        color: #52555F;
                        margin-top: 5px;
                      }

                      &:last-child {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 8px;
                        line-height: 9px;
                        letter-spacing: 0.04em;
                        text-transform: uppercase;
                        color: #52555F;
                        margin-left: 20px;
                      }
                    }

                  }
                }
                &:last-child{
                  display: flex;
                  align-items: center;
                  span{
                    &:first-child{
                      font-style: normal;
                      font-weight: bold;
                      font-size: 12px;
                      line-height: 14px;
                      letter-spacing: 0.04em;
                      margin-right: 20px;
                    }
                  }
                }
              }

            }
          }
        }
      }


    }


  }

}



