@import '../../../shared.scss';

.list {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc(90% / 3);
  height: 160px;
  cursor: pointer;
  border-bottom: 1px solid #e0e5eb;
  @media screen and (min-width: $breakpoint-tablet) {
    flex-basis: calc(100% / 6);
    height: 140px;
    border: none;
  }
}

.text {
  padding: 20px;
  color: $text-color-secondary;
}

.sum {
  margin-bottom: 5px;
  color: $text-color-secondary;
}

.icon {
  position: relative;
  height: 56px;
  max-width: 65px;
  fill: $non-active-product-category-img;
  margin-bottom: 5px;
  z-index: 10;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.category {
  display: inline-block;
  padding: 5px;
  height: 20px;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: $text-color-secondary;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.thumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover .icon,
  &:focus .icon {
    fill: $active-product-category-img;
  }

  &:hover::after,
  &:focus::after {
    background: $active-product-category-bg;
  }
}

.thumb::after {
  content: '';
  position: absolute;
  display: block;
  top: 10px;
  left: 3px;
  width: 59px;
  height: 46px;
  background-color: $logo-picture-shadow;
  border-radius: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9;
}
