@import '../../shared.scss';

.bg_main {
  margin-top: 0;
  background-image: url('../../../images/Background/svg/home_mobile_top.svg'),
    url('../../../images/Background/svg/home_mobile.svg'),
    url('../../../images/Background/grey_bg/bg-mobile-1x.png');
  background-position: top 160px right 0, bottom 0 left 35px, top 0 center;
  background-repeat: no-repeat;
  background-size: 49px 83px, 83px 89px, 100vw;
  overflow: hidden;

  @media screen and (min-width: $breakpoint-tablet) {
    background-size: 100vw, 183px 142px, 100vw;
    background-position: top 84px left 10px, bottom 56px left 103px,
      top 0 center;
    background-image: url('../../../images/Background/svg/tablet_group.svg'),
      url('../../../images/Background/svg/main_two.svg'),
      url('../../../images/Background/grey_bg/bg-tablet-1x.png');
  }

  @media screen and (min-width: $breakpoint-desktop) {
    background-size: 100vw, 183px 142px, 100vw;
    background-position: top 86px left 10px, bottom 20px left 230px,
      top 0 center;
    background-image: url('../../../images/Background/svg/main_group.svg'),
      url('../../../images/Background/svg/main_two.svg'),
      url('../../../images/Background/grey_bg/bg-desktop-1x.png');
  }
}

.title_container {
  margin-top: 142px;
  margin-bottom: 650px;
  margin-left: 50px;

  @media screen and (min-width: $breakpoint-tablet) {
    margin-top: 146px;
    margin-bottom: 778px;
    margin-left: 166px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    margin-top: 320px;
    margin-bottom: 348px;
    margin-left: 235px;
  }
}

.title_mobile {
  margin: 0;
  padding: 0 0 4px 0;
  width: 183px;
  height: 46px;

  @media screen and (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.title {
  display: none;

  @media screen and (min-width: $breakpoint-tablet) {
    display: block;
    width: 307px;
    height: 78px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    padding: 0;
    width: 376px;
    height: 120px;
  }
}

.home_tag {
  margin: 0;
  padding-left: 10px;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.15px;
  text-transform: uppercase;

  color: $text-color-secondary;

  @media screen and (min-width: $breakpoint-tablet) {
    padding-left: 56px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.19px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    padding-left: 64px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.19px;
  }
}
