@import '../../../styles/shared.scss';

.bar {
  display: flex;
  flex-direction: column;
  background-color: transparent;

  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // justify-content: center;
    margin-bottom: 30px;
  }
}

.wrap {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row-reverse;
    justify-content: center;
  }
}
