@import '../../../styles/shared.scss';

.icons_bg {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    width: 1334px;
    height: 232px;
    top: 20px;
    left: 5px;
    z-index: -1;
    fill: $logo-picture-color;
  }

  @media screen and (min-width: 1280px) {
    display: block;
    position: absolute;
    top: 84px;
    left: 10px;
  }
}

.mobile_icons_bg {
  display: block;
  position: absolute;
  width: 88px;
  height: 89px;
  top: 149px;
  left: 254px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
