@import '../../../styles/shared.scss';

.grey_bg {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 342px;
  background-image: url('../../../images/Background/grey_bg/bg-mobile-1x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -2;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 582px;

    background-image: url('../../../images/Background/grey_bg/bg-tablet-1x.png');
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    height: 583px;
    background-size: 1280px;
    background-image: url('../../../images/Background/grey_bg/bg-desktop-1x.png');
  }
}
