@import './src/styles/colors';
@import './src/styles/variables';

button {
  cursor: pointer;
}

.main_section {
  width: 100%;
  height: 100%;
  // margin: 20px auto;
  border-radius: 30px;
  // background-color: white;
  // padding: 50px;

  .btn_section {
    display: flex;
    justify-content: flex-start;
    //width: 400px;
    align-items: flex-end;
    height: 40px;
    margin: 0 auto;

    button {
      font-family: $primary-font-style;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      border: none;
    }

    .expense_btn_active {
      //background-color: $bg-white-color;
      background-color: #fefefe;
      border-radius: 30px 30px 0 0;
      color: #ff751d;
      height: 100%;
      width: 138px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .expense_btn_disabled {
      background-color: #fafbfd;
      border-radius: 30px 30px 0 0;
      color: black;
      height: 100%;
      width: 138px;
    }

    .income_btn_active {
      background-color: #fefefe;
      border-radius: 30px 30px 0 0;
      color: #ff751d;
      height: 100%;
      width: 138px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .income_btn_disabled {
      background-color: #fafbfd;
      color: black;
      height: 100%;
      width: 138px;
      border-radius: 30px 30px 0 0;
    }
  }

  .main_content {
    background-color: $bg-white-color;

    border-radius: 0 30px 30px 30px;
    margin: 0 auto;
    position: relative;
    padding: 33px 20px 61px 20px;
    // padding: 35px;
    .top_info {
      display: flex;
      justify-content: space-between;
      height: 44px;
      align-items: center;
      margin-bottom: 60px;

      .date {
        display: flex;
        flex-direction: row;
        align-items: center;

        svg {
          margin-right: 10px;

          * {
            fill: #52555f;
          }
        }

        span {
          color: #52555f;
          font-family: $primary-font-style;
          font-style: normal;
          font-weight: 900;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.04em;
        }
      }

      .add_category {
        height: 100%;
        display: flex;
        flex-direction: row;

        .select_container {
          .dropdown_button {
            width: 155px;
            height: 100%;
            background-color: #f5f6fb;
            position: relative;
            display: flex;
            justify-content: space-around;
            cursor: default;
            color: #52555f;
            font-weight: 400;
            align-items: center;

            p {
              display: flex;
              align-items: center;
              justify-content: center;
              color: #c7ccdc;
              font-size: 12px;
            }

            svg {
              min-width: 20px;
            }

            .dropdown_button_list {
              padding: 5px 0;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              row-gap: 10px;
              position: absolute;
              top: 100%;
              z-index: 2;
              background: #fff;
              border: 2px solid #f5f6fb;
              box-sizing: border-box;
              box-shadow: 0px 3px 4px rgba(170, 178, 197, 0.4);

              div {
                font-size: 12px;
                font-weight: 400;
                color: #c7ccdc;
                height: 44px;
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;

                &:hover {
                  background: #f5f6fb;
                  color: #52555f;
                }
              }
            }
          }
        }

        .custom_arrow {
          position: absolute;
          top: 14px;
          right: 15px;
        }

        .calc_input {
          position: relative;

          input {
            border: 1px solid #f5f6fb;
            height: 100%;
            width: 124px;
            padding: 2px 2px 2px 30px;
            border-radius: 0 30px 30px 0;
            outline: none;
          }

          svg {
            position: absolute;
            right: 20px;
            top: 12px;
          }
        }

        input {
          border: 1px solid #f5f6fb;
          height: 100%;
          padding: 2px 2px 2px 25px;
          border-radius: 30px 0 0 0;
          border-right: 0;
          outline: none;
          color: #52555f;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;

          &:last-child {
            border-radius: 0 30px 30px 0;
            border: 1px solid #f5f6fb;
            border-left: 0;
          }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input::placeholder {
          color: #c7ccdc;
          font-family: $primary-font-style;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          display: flex;
          align-items: center;
          letter-spacing: 0.02em;
        }
      }

      .add_or_clear_btn {
        button {
          &:first-child {
            background: #ff751d;
            border: none;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            color: white;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            padding: 12px 34px;
            border-radius: 16px;
            width: 125px;
            height: 44px;
            margin-right: 15px;
          }

          &:last-child {
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            padding: 12px 34px;
            letter-spacing: 0.02em;
            color: #52555f;
            text-transform: uppercase;
            background: #ffffff;
            border: 2px solid #f5f6fb;
            border-radius: 16px;
            width: 125px;
            height: 44px;
            font-style: normal;
          }
        }
      }
    }

    .info_table {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .titles_and_results {
        display: flex;
        flex-direction: column;
        //background-color: #FFFFFF;
        width: 60%;
        border-radius: 30px 30px 0 0;
        overflow: hidden;

        table {
          border-collapse: collapse;
          border-style: none;
          border-radius: 30px 30px 0 0;

          thead {
            tr {
              background-color: #f5f6fb;
              height: 40px;

              th {
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: black;
                padding: 0;

                &:last-child {
                  color: transparent;
                }
              }
            }
          }

          tbody {
            background-color: #ffffff;

            .added_content {
              td {
                border-collapse: collapse;
                border-bottom: 2px solid #f5f6fb;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.04em;
                color: #52555f;
                text-align: center;

                span {
                  border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  display: flex;
                  align-items: center;
                  margin: 0 auto;
                  background-color: #f5f6fb;
                  justify-content: center;
                }
              }
            }
          }
        }
      }

      .summary_table {
        display: flex;
      }
    }
  }
}
