@import '../../../styles/shared.scss';

.date {
  display: flex;
  width: 104px;
  align-items: center;
  color: $text-color-secondary;
  font-weight: 900;
  background-color: inherit;
  padding: 10px 0 10px 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;

  @media screen and (min-width: $breakpoint-tablet) {
    margin: 0 30px 0 0;
    height: 44px;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    margin: 0 23px 0 0;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.calendar {
  width: 74px;
  background-color: transparent;
  margin-left: 10px;
}

.dates {
  font-weight: 400;
}
