@import '../../../shared.scss';

.form {
  @media screen and (min-width: $breakpoint-desktop) {
    display: flex;
  }
}

.section {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.02em;

  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    margin-bottom: 0;
    margin-right: 27px;
  }
}

.input {
  display: inline-flex;
  background-color: transparent;
  border: 2px solid $btn-grey-border-color;
  outline: none;
  color: $btn-grey-black-text-color;
  &::placeholder {
    color: $text-color-placeholders;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    border: 2px solid $btn-grey-bg-color;
  }
}

.description {
  composes: input;
  width: 100%;
  padding: 14px 20px 14px 20px;
  border-radius: 16px 16px 0 0;
  border-bottom: none;

  @media screen and (min-width: $breakpoint-tablet) {
    width: 181px;
    border-radius: 16px 0 0 0;
    border: 2px solid $btn-grey-bg-color;
    border-right: none;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    width: 289px;
    border: 2px solid $btn-grey-bg-color;
    border-right: none;
  }
}

.select_container {
  composes: input;
  width: 100%;
  padding: 13px 20px;
  position: relative;
  display: block;
  border-radius: 0 0 16px 0;
  color: $text-color-placeholders;

  @media screen and (min-width: $breakpoint-tablet) {
    border-radius: 0;
    width: 171px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    width: 188px;
  }
}

.list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: transparent;
}

.item {
  padding: 9px 20px 10px 20px;
  background-color: $bg-white-color;
  &:hover {
    background-color: $bg-grey-color;
    color: $text-color-secondary;
  }
}

.arrow {
  position: absolute;
  fill: $text-color-placeholders;
  width: 15px;
  height: 15px;
  top: 14px;
  right: 15px;
}

.header {
  font-size: 12px;
  margin: 0;
}
.sum {
  display: flex;
  margin: 30px auto 83px auto;
  @media screen and (min-width: $breakpoint-tablet) {
    margin: 0;
  }
}

.calc {
  composes: input;
  width: 125px;
  padding: 13px 15px;
  text-align: end;
  border-radius: 22px 0 0 22px;
  font-weight: 700;
  background-color: transparent;

  &::placeholder {
    color: $text-color-placeholders;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    margin: 0;
    padding: 13px 10px;
    width: 80px;
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    width: 89px;
  }
}

.icon {
  composes: input;
  padding: 10px 20px;
  border-radius: 0 22px 22px 0;
  border-left: none;

  @media screen and (min-width: $breakpoint-tablet) {
    padding: 9px 12px 11px 0;
    width: 35px;
    border-radius: 0 16px 16px 0;
    border-left: none;
  }
}

.wrap {
  @media screen and (min-width: $breakpoint-desktop) {
    display: flex;
  }
}

.btn {
  width: 125px;
  padding: 15px 0;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 16px;
  @media screen and (min-width: $breakpoint-tablet) {
    margin-left: 32px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    margin: 0;
    padding: 0;
  }
}

.add {
  composes: btn;
  background-color: $btn-orange-bg-color;
  color: $btn-orange-text-color;
  margin-right: 15px;

  @media screen and (min-width: $breakpoint-desktop) {
    margin: 0;
    padding: 0;
  }
}

.clear {
  composes: btn;
  color: $btn-grey-text-color;
  background-color: $btn-grey-bg-color;

  @media screen and (min-width: $breakpoint-desktop) {
    margin: 0 0 0 15px;
  }
}
