// @import '../../styles/shared.scss';
@import '../../styles/shared.scss';

.home_content {
  padding: 140px 88px 137px 49px;

  @media screen and (min-width: 768px) {
    padding: 142px 290px 335px 141px;
  }

  @media screen and (min-width: 1280px) {
    padding: 366px 679px 78px 224px;
  }
}

.title_mobile {
  margin: 0;
  padding: 0 0 4px 0;
  width: 183px;
  height: 46px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.title {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    width: 307px;
    height: 78px;
  }

  @media screen and (min-width: 1280px) {
    padding: 0;
    width: 376px;
    height: 120px;
  }
}

.home_tag {
  margin: 0;
  padding-left: 10px;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.15px;
  text-transform: uppercase;

  color: $text-color-secondary;

  @media screen and (min-width: 768px) {
    padding-left: 56px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.19px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 64px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.19px;
  }
}
