@import '../../styles//shared.scss';

.balanceContainer {
  // font-family: 'Roboto';

  // font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $text-color-primary;

  // background-color: $btn-grey-bg-color;
  // border-bottom-left-radius: 42%;
  // padding-top: 30px;
  // padding-bottom: 42px;

  @media screen and (min-width: $breakpoint-tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    // padding-top: 40px;
    padding-bottom: 0;
    padding-left: 31px;
    // padding-right: 52px;
    border-bottom-left-radius: 0;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    justify-content: end;
    padding-left: 0;
  }
}
