@import '../../styles/shared.scss';

.icons_bg {
  display: none;

  @media screen and (min-width: 1280px) {
    display: block;
    position: absolute;
    width: 1334px;
    height: 232px;
    top: 84px;
    left: 10px;
    bottom: -10px;
    z-index: -1;
    fill: $logo-picture-color;
  }
}

.tablet_icons_bg {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    width: 183px;
    height: 142px;
    bottom: 64px;
    right: 88px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}
