@import '../../../../styles/shared.scss';
.btn {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  align-items: baseline;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: $text-color-primary;

  &::after {
    display: block;
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -2px;
    width: 0;
    background-color: $btn-orange-bg-color;
    content: '';
    transition: width 0.3s ease-out;
  }

  &:hover::after {
    width: 100%;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    margin: 0;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    margin-left: 205px;
  }
}

.icon {
  fill: #52555f;
  width: 14px;
  height: 14px;
  margin-left: 15px;
}
